{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="row">
        <div class="col-6">
            <h1>Create new User</h1>

                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.lastname, {'label':'Prénom', 'attr': {'placeholder': 'Votre Prénom' }}) }}
                {{ form_row(form.firstname, {'label':'Nom', 'attr': {'placeholder': 'Votre nom' }}) }}
                {{ form_row(form.email, {'label':'Email', 'attr': {'placeholder': 'Votre adresse mail' }}) }}
                {{ form_row(form.birthday, {'label':'Date de naissance', 'attr': {'placeholder': 'Votre date de naissance' }}) }}
                {{ form_row(form.password, {'label':'Mot de passe', 'attr': {'placeholder': 'Choisissez un mot de passe' }}) }}
                {{ form_row(form.address, {'label':'Adresse', 'attr': {'placeholder': 'Votre adresse' }}) }}
                {{ form_row(form.phone_number, {'label':'Numéro de téléphone', 'attr': {'placeholder': 'Votre numéro de téléphone' }}) }}
                {{ form_row(form.license_number, {'label':'Numéro de permis de conduire', 'attr': {'placeholder': 'Votre numéro de permis de conduire' }}) }}
                {{ form_row(form.roles , {'label':'Role'}) }}

            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
            </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end (form) }}


        </div>
</div>


    <button type="button"
            class="btn btn-warning disabled"
            onclick="document.location.href=' {{ path('admin_user_list') }}'">
            Revenir en arrière</button>

{% endblock %}
