{% extends 'base.html.twig' %}

{% block body %}
    <div class="body_admin">
    <h2>Car</h2>
    <input type="hidden" name="">
       <table>
            <thead>
            <tr>
                <th class="table-cell_admin">brand</th>
                <th class="table-cell_admin">model</th>
                <th class="table-cell_admin">serial number</th>
                <th class="table-cell_admin">color</th>
                <th class="table-cell_admin">city</th>
                <th class="table-cell_admin">license plate</th>
                <th class="table-cell_admin">mileage</th>
                <th class="table-cell_admin">purchase date</th>
                <th class="table-cell_admin">daily price</th>
                <th class="table-cell_admin">rental price</th>
                <th class="table-cell_admin">disponibility</th>

            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
            <tr>
                <td class="table-cell_admin">{{ car.brand }}</td>
                <td class="table-cell_admin">{{ car.model }}</td>
                <td class="table-cell_admin">{{ car.serialnumber}}</td>
                <td class="table-cell_admin">{{ car.colour}}</td>
                <td class="table-cell_admin">{{ car.city}}</td>
                <td class="table-cell_admin">{{ car.licenseplate }}</td>
                <td class="table-cell_admin">{{ car.mileage }} kilomètres</td>
                <td class="table-cell_admin">{{ car.purchasedate|date("d/m/Y")}}</td>
                <td class="table-cell_admin">{{ car.dailyprice}} €</td>
                <td class="table-cell_admin">{{ car.rentalprice}} €</td>
                {% if car.available == 1 %}
                <td class="table-cell_admin">available</td>
                {% endif %}
                {% if car.available == 0 %}
                <td class="table-cell_admin">unavailable</td>
                {% endif %}
                <td><button type="button" class="button admin_button_car" onclick="document.location.href=' {{ path('vehicle_edit', {'id': car.id}) }}'">edit</button></td>
                <td><button type="button" class="button admin_button_car" onclick="document.location.href=' {{ path('car_delete', {'id': car.id}) }}'">delete</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}