<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}e-motion{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}

</head>
<body>
    <div class="header">
        <div id="logo">
            <img src="{{ asset('img/Logo.svg') }}" id="Logo">
        </div>
        <div id="title">
            <h1>e-motion</h1>
            <h2>make a green world again</h2>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div id="connection">
            <a id="position_f_link" href="{{ path('account') }}">Mon espace membre</a>
            <a id="position_s_link" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        {% endif %}
        {% if not app.user %}
            <div id="connection">
                <a href="/login" id="position_f_link">Login</a>
                <a href="/signup" id="position_s_link">register</a>
            </div>
        {% endif %}
        <div id="sidebar">
            {% block sidebar %}
                <a href="/">Home</a>
                <a href="/search">vehicle</a>
                <a href="/command">my command</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('user_admin') }}">Admin</a>
                    <a href="/vehicle">Add new vehicle</a>
                {% endif %}
                
            {% endblock %}
        </div>
    </div>


        {% block body %}
        {% endblock %}

    <div class="footer">
        <a href="#">legal mention</a>
        <a href="#">personnal data</a>
    </div>
</body>
</html>

