{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="col-6">
                <h1>Inscription </h1>



                        {{ form_start(newUserForm) }}
                        {{ form_errors(newUserForm) }}
                        {{ form_row(newUserForm.lastname, {'label':'Prénom', 'attr': {'placeholder': 'Votre Prénom' }}) }}
                        {{ form_row(newUserForm.firstname, {'label':'Nom', 'attr': {'placeholder': 'Votre nom' }}) }}
                        {{ form_row(newUserForm.mail, {'label':'Email', 'attr': {'placeholder': 'Votre adresse mail' }}) }}
                        {{ form_row(newUserForm.password, {'label':'Mot de passe', 'attr': {'placeholder': 'Choisissez un mot de passe' }}) }}


                <button type="submit">Envoyer</button>
                {{ form_end (newUserForm) }}
            </div>
        </div>
    </div>
{% endblock %}
